<nav class="navbar nav-homepage">
    <div class="max_width">
        <div class="logo"><a href="./index.html">Fahim <span>Shahrear</span></a></div>
        <ul class="menu">
            <!-- <li><a href="#home" class="menu_btn">Home</a></li> -->
            <li><a href="./blog_experience.html" class="menu_btn">Experience</a></li>
            <li><a href="#about" class="menu_btn">About Me</a></li>
            <li><a href="#services" class="menu_btn">Projects</a></li>
            <li><a href="./page_skills.html" class="menu_btn">Skills</a></li>
            <li><a href="#teams" class="menu_btn">Achivements</a></li>
            <li><a href="#contact" class="menu_btn">Contact</a></li>
            <li class="more_btn_container"><a class="menu_btn">More</a> 
                <div class="submenu">
                    <a href="#">Blogs</a>
                    <a href="./page_photography.html">Photography</a>
                    <a href="#">Helpful Snippents!</a>
                </div>
            </li>
        </ul>
        <div class="menu_btn">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</nav>